$primaryColor: #ffffff;
$mainColor: gray;

@mixin centering_data {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-container {
    @include centering_data;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.dashboard-content-container {
    @include centering_data;
    width: 90%;
    height: 80vh;
    flex-direction: column;
}