$mainColor: gray;

@mixin centering_data {
    justify-content: center;
    align-items: center;
    display: flex;
}

.update-task-title {
    text-align: center;
    color: white;
    text-transform: uppercase;
    padding: 1px;
    font-weight: 100;
    font-size: 30px;
    position: relative;
}

.update-task-container {
    @include centering_data;
    width: 100%;
    height: 100vh;
}

.update-task-box {
    @include centering_data;
    background-color: $mainColor;
    width: 60%;
    height: 70%;
    flex-direction: column;
    border-radius: 30px;
}

@media(max-width: 650px) {
    .update-task-title {
        font-size: 30px;
    }   
    .form-description-label {
        font-size: 15px !important;
    }
    .form-limit-date-label {
        font-size: 15px !important;
    }
}

.form-container {
    @include centering_data;
    flex-direction: column;
    height: 80%;
}

.form-description-container {
    @include centering_data;
    flex-direction: column;
    margin-bottom: 40px
}
.form-title-container {
    @include centering_data;
    flex-direction: column;
    margin-bottom: 40px
}

.form-title-label {
    font-size: 17px;
}

.form-description-label {
    font-size: 17px;
}

.form-limit-date-container {
    @include centering_data;
    flex-direction: column;
}

.form-limit-date-label {
    font-size: 17px;
}

.submit-button {
    background-color: #4CAF50;
    margin-top: 30px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 20px;

    &:hover {
        background-color: hsl(133, 98%, 49%)
    }
}